---
import type { CollectionEntry } from "astro:content";

type Props = {
  album: CollectionEntry<"albums">;
};

const { album } = Astro.props;
---

<a class="album-card" href={`/${album.data.artist.id}/albums/${album.id}`}>
  <div>
    <img
      class="fade-in"
      loading="lazy"
      src={album.data.image.src}
      alt={album.data.image.alt}
    />
  </div>
  <h3>{album.data.name}</h3>
  <p>{new Date(album.data.publishDate).getFullYear()}</p>
</a>